@charset "ISO-8859-1";

.login {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.sign-up {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.records {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.disclaimer {
	font-size: smaller;
	position:absolute;
}

.img-centered {
    display: block;
    margin: 0 auto;
}

.img-icon {
	width : 5%
		
}